body{
    font-family: 'Open Sans', sans-serif;
}
/* banner part css start */
.banner-container{
    background-color: #cacaca;
}
.banner-colum{
    background-color: #8d8d8d;
}
/* banner part css end */

/* navigation part css start */
.navbar-container{
    background-color: #282b37;
}
/* navigation part css end */

/* About part css start */
.about-container{
    background-color: #00bdbd;
}
/* About part css end */