body{
    font-family: 'Open Sans', sans-serif;
}
/* banner part css start */
.banner-container{
    background-color: #cacaca;
}
.banner-colum{
    background-color: #8d8d8d;
}
/* banner part css end */

/* navigation part css start */
.navbar-container{
    background-color: #282b37;
}
/* navigation part css end */

/* About part css start */
.about-container{
    background-color: #00bdbd;
}
/* About part css end */

/* education part css start */
.education-container{
    background-color: #EEEEEE;
    padding: 10px 0px;
}
.edu-con h2{
    color: #fb857f;
}
.circle{
    background-color: #fb857f;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* education part css end */

/* project part css start */
.project-container{
    background-color: #2bb3dd;
}
.project-con p{
    color: white;
}
.project-img img{
    height: 173px;
}
/* project part css end */

/* portfolio part css start */

/* portfolio part css end */